@charset "utf-8";

$fa-font-path: "/assets/fontawesome/fonts";

@import
  "bootswatch/flatly/variables",
  "bootstrap-sass/assets/stylesheets/bootstrap",
  "bootswatch/flatly/bootswatch",
  "fontawesome/scss/font-awesome"
;

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.panel-body {
  * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
