@charset "utf-8";

$fa-font-path: "/assets";

@import
  "vendor/bootstrap",
  "vendor/bootswatch",
  "vendor/fontawesome/font-awesome"
;

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
