@charset "utf-8";
$fa-font-path: "/assets/fontawesome/fonts";
@import "bootswatch/paper/variables";
$icon-font-path: "/assets/bootstrap/fonts/";
//= require bootstrap-markdown
@import
  "bootstrap-sass/assets/stylesheets/bootstrap",
  "bootswatch/paper/bootswatch",
  "fontawesome/scss/font-awesome"
;

body {
  padding-bottom: 20px;
}

a, button, input, textarea, *:focus {
  outline: 0 !important;
  outline-style: none !important;
}

.navbar {
  margin-bottom: 20px;

  .navbar-right {
    margin-right: 0;

    .btn {
      margin-left: 10px;
    }
  }
}

.panel {
  &:not(.panel-default) {
    .panel-heading {
      color: #fff;
    }
  }

  .panel-heading {
    line-height: 26px;

    h3 {
      font-size: 26px;
    }
  }

  .panel-body {
    .excerpt {
      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }

    .buttons {
      text-align: center;
    }
  }
}

.post-edit {
  .md-editor {
    .md-header {
      margin-bottom: 15px;
    }
  }

  .md-content {
    width: 100%;
  }

  .buttons {
    .btn {
      margin-left: 10px;
    }
  }
}
